@import "../../Index.scss";
//urls
$url_3: url("../../Images/0003.png");
$url_4: url("../../Images/logo.png");

#Dashboard {
	background-image: $url_3;
	background-repeat: no-repeat;
	background-size: 100% 50%;
	background-position: bottom;
}
#Logo {
	margin-top: 1%;
	height: 11%;
	width: 8%;
	background-image: $url_4;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}
#DropDown {
	background-image: $url_4;
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	border: none;
	outline: none;
	margin-top: -5%;
	margin-right: 3%;
	float: right;
	&:focus + #Options {
		display: block;
	}
}
#User_Name {
	width: 10%;
	height: 5%;
	margin-top: -4%;
	margin-right: 7%;
	text-align: end;
	float: right;
	font-size: large;
	font-weight: 700;
}
#Options {
	display: none;
	float: right;
	margin-right: 3.5%;
	margin-top: -1%;
	width: 10%;
	height: 15%;
	list-style-type: none;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 1px 0 $black_20, 0 0 1px 0 $black_19;
	&:hover {
		display: block;
	}
	> a > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		color: $gray;
		height: 33.33%;
		font-size: medium;
		justify-content: center;
		&:hover {
			background-color: $color_electric_violet_approx;
			color: $white;
		}
	}
}
#DashboardHome {
	height: 77%;
	margin-top: 10%;
}
#DashboardNavs{
	width:100%;
	height: 30%;
	text-align: center;
}

#NameOfUser{
	font-size: xx-large;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-left: 27%;
	width: 2%;
	height: 2%;
}
.DashboardItems {
	height: 100%;
	width: 22%;
	display: inline-block;
	vertical-align: middle;
	border-radius: 10px;
	> div {
		width: 100%;
		color: $white;
		font-size: xx-large;
	}
	&:last-child {
		margin-left: 2%;
	}
}

#Form_Box {
	margin-top: 2%;
	height: 75%;
	width: 26%;
	margin-left: 5%;
	top:0;
	border-radius: 10px;
	background-color: $white;
	float: left;
}
#Box_form {
	display: block;
	width: 75%;
	height: 100%;
	> * {
		margin-left: 10%;
		width: 100%;
		float: left;
	}
	.Submit_Button {
		width: 36%;
		border-radius: 25px;
		height: 7%;
		color: white;
		background-color: $color_sun_approx;
		float: left;
		margin-top: 10%;
		border: none;
		outline: none;
	}
	.Seat_button {
		height: 40px;
		width: 40px;
		border-radius: 50%;
		border-color: grey;
		border-style: solid;
		outline: none;
		background-color: inherit;
		color: black;
		font-size: large;
	}
	label:first-of-type {
		margin-top: 8%;
	}
	> .Seats {
		margin-top: 5%;
		height: 15%;
		width: 60%;
		> div {
			margin-top: 10%;
			> button:not(:first-child) {
				margin-left: 5%;
			}
		}
	}
	> .Price {
		margin-top: 5%;
		height: 15%;
		width: 20%;
		float: right;
		> div {
			margin-top: 40%;
			font-size: xx-large;
		}
	}
	> label {
		margin-top: 5%;
		color: grey;
		font-size: smaller;
		height: 3%;
	}
	> input {
		height: 8%;
		background-color: transparent;
		margin-top: -2%;
		font-size: large;
		outline: 0;
		border-width: 0 0 2px;
		border-color: lightblue;
		&:focus {
			outline: 0;
			border-width: 0 0 2px;
			border-color: blue;
		}
	}
	> .Title {
		font-size: xx-large;
		height: 13%;
		display: flex;
		align-items: flex-end;
	}
	> .Toggle {
		height: 10%;
		width: 20%;
	}
	> .p1 {
		display: flex;
		align-items: flex-start;
		height: 5%;
		color: grey;
	}
	> div {
		margin-top: 2%;
		height:12%;
		width: 100%;
		&:first-child {
			margin-top: 5%;
		}
		> button {
			margin-top: 1%;
			height: 50%;
			width: 28%;
			font-size: small;
			border-radius: 15px;
			border-color: $color_electric_violet_approx;
			background-color: inherit;
			outline: none;
			border-style: solid;
			&:not(:first-child) {
				margin-left: 8%;
			}
			&:first-child,&:nth-last-child(2){
				margin-left: 0;
			}
		}
	}
}
#Next_Button {
	margin-top: 10%;
	width: 25%;
	height: 5%;
	float: right;
	background: transparent;
	border: none;
	color: $color_electric_violet_approx;
	font-weight: 800;
	outline: none;
	cursor: pointer;
}
