@import "../../Variables.scss";
//urls
$url_1: url(../../Images/logo.png);
$url_2: url(../../Images/point.png);

#Dashboard {
	background-repeat: no-repeat;
	background-size: 100% 50%;
	background-position: bottom;
}
#Logo {
	padding-top: 2%;
	margin-left: 3%;
	height: 10%;
	width: 5%;
	background-image: $url_1;
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: contain;
}
#DropDown {
	background-repeat: no-repeat;
	height: 40px;
	width: 40px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
	background-size: contain;
	border: none;
	outline: none;
	margin-top: -5%;
	margin-right: 3%;
	float: right;
	&:focus + #Options {
		display: block;
	}
}
#User_Name {
	width: 10%;
	height: 5%;
	margin-top: -4%;
	margin-right: 7%;
	text-align: end;
	float: right;
	font-size: large;
	font-weight: 700;
}
#Options {
	display: none;
	right: 0;
	position: fixed;
	margin-right: 3.5%;
	margin-top: -1%;
	width: 10%;
	height: 15%;
	list-style-type: none;
	//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	box-shadow: 0 0 1px 0 $black_20, 0 0 1px 0 $black_19;
	&:hover {
		display: block;
	}
	> a > div {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		color: $gray;
		height: 33.33%;
		font-size: medium;
		justify-content: center;
		&:hover {
			background-color: $color_electric_violet_approx;
			color: $white;
		}
	}
}
#DashboardHome {
	height: 65%;
	margin-top: 10%;
}
#DashboardNavs {
	width: 100%;
	height: 37%;
	text-align: center;
}
#NameOfUser {
	font-size: xx-large;
	font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	margin-left: 27%;
	width: 2%;
	height: 2%;
}
.DashboardItems {
	height: 100%;
	width: 22%;
	display: inline-block;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	> div {
		margin-top: 17%;
		width: 100%;
		color: $white;
		font-size: xx-large;
	}
	&:last-child {
		margin-left: 2%;
	}
}
#Form_Box {
	margin-top: 2%;
	height: 78%;
	width: 26%;
	margin-left: 5%;
	top: 0;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 10px;
	background-color: $white;
	float: left;
	> .Toggle {
		position: relative;
		float: right;
		top: 10%;
		margin-right: 5%;
	}
	> .RouteIcon {
		background-image: $url_2;
		background-size:100% 100%;
		background-repeat: no-repeat;
		width: 27%;
		height: 3%;
		margin-right: 2%;
		float: right;
		margin-top: 36%;
		transform: rotate(90deg);
	}
}
#Box_form {
	display: block;
	width: 71%;
	height: 100%;
	float: left;
	> * {
		margin-left: 10%;
		width: 100%;
		float: left;
	}
	.Submit_Button {
		width: 36%;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 25px;
		height: 7%;
		color: $white;
		background-color: $color_sun_approx;
		float: left;
		margin-top: 10%;
		border: none;
		outline: none;
	}
	.Seat_button {
		height: 40px;
		width: 40px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 50%;
		border-color: $gray;
		border-style: solid;
		outline: none;
		background-color: inherit;
		color: $black;
		font-size: large;
	}
	> {
		.Seats {
			margin-top: 5%;
			height: 15%;
			width: 60%;
			> div {
				margin-top: 10%;
				> button:not(:first-child) {
					margin-left: 5%;
				}
			}
		}
		.Price {
			margin-top: 5%;
			height: 15%;
			width: 20%;
			float: right;
			> div {
				margin-top: 40%;
				font-size: xx-large;
			}
		}
		.Title {
			font-size: xx-large;
			height: 13%;
			display: flex;
			align-items: flex-end;
		}
		.p1 {
			display: flex;
			align-items: flex-start;
			height: 5%;
			color: $gray;
		}
	}
	> label {
		margin-top: 5%;
		color: $gray;
		font-size: smaller;
		height: 3%;
	}
	> input {
		height: 8%;
		background-color: transparent;
		margin-top: -2%;
		font-size: large;
		outline: 0;
		border-width: 0 0 2px;
		border-color: $color_regent_st_blue_approx;
		&:focus {
			outline: 0;
			border-width: 0 0 2px;
			border-color: $blue;
		}
	}
	> div {
		margin-top: 2%;
		height: 12%;
		width: 100%;
		&:first-child {
			margin-top: 5%;
		}
		> button {
			margin-top: 1%;
			height: 50%;
			width: 28%;
			font-size: small;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 15px;
			border-color: $color_electric_violet_approx;
			background-color: inherit;
			outline: none;
			border-style: solid;
			&:not(:first-child) {
				margin-left: 8%;
			}
			&:first-child,
			&:nth-last-child(2) {
				margin-left: 0;
			}
		}
	}
	label:first-of-type {
		margin-top: 8%;
	}
}
#Next_Button {
	margin-top: 10%;
	width: 25%;
	height: 5%;
	float: right;
	background: transparent;
	border: none;
	color: $color_electric_violet_approx;
	font-weight: 800;
	outline: none;
	cursor: pointer;
}
#Offer_Matches {
	margin-top: 3%;
	height: 75%;
	width: 65%;
	float: left;
	margin-left: 2%;
	> span {
		height: 10%;
		width: 100%;
		font-size: 25px;
		font-weight: 900;
		margin-left: 5%;
		color: $color_electric_violet_approx;
		font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
	}
	> #allmatches {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		> div {
			width: 40%;
			height: 35%;
			float: left;
			margin-left: 5%;
			margin-top: 3%;
		}
		> .Modal-overlay {
			margin: auto auto;
			height: 100%;
			width: 100%;
		}
	}
}
.OfferCard {
	height: 98%;
	width: 100%;
	border-radius: 8px;
	> * {
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 3%;
	}
	> {
		#name {
			font-size: 36px;
			font-weight: 500;
			font-family: $font_0, $font_1, $font_2, $font_3, $font_4;
			> img {
				height: 40px;
				width: 40px;
				border-radius: 50%;
				background-size: contain;
				background-repeat: no-repeat;
				float: right;
				margin-top: 2%;
			}
		}
		#section {
			height: 100%;
			display: flex;
			&:nth-child(1n + 3) > div {
				width: 50%;
				height: inherit;
				&:last-child {
					margin-left: 4%;
				}
			}
			&:nth-child(2) > #point {
				background-image: $url_2;
				background-size: 100% 100%;
				background-position: bottom;
				background-repeat: no-repeat;
				width: 30%;
				margin-top: 2%;
			}
			> #from {
				width: 21%;
			}
			> div > p:first-child {
				font-size: small;
				color: $gray;
			}
		}
	}
}
.Modal-content {
	height: 30%;
	max-width: 30%;
}
.Modal {
	background-color: cadetblue;
	height: 100%;
	width: 100%;
	> span {
		display: block;
		height: 10%;
		width: 100%;
		margin-left: 2%;
		font-size: medium;
		color: firebrick;
		font-weight: 700;
		font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	}
	> div {
		height: 25%;
		width: 100%;
		margin-top: 5%;
		display: flex;
		justify-content: center;
		justify-content: center;
		> button {
			height: 100%;
			width: 23%;
			margin-left: 2%;
			border-radius: 8px;
			background-color: firebrick;
		}
	}
}

.User_Bookings {
	width: 30%;
	margin-left: 3%;
	float: left;
	height: 84%;
	margin-top: 2%;
	> p {
		background-color: $color_electric_violet_approx;
		color: $white;
		height: 7%;
		width: 30%;
		text-align: center;
		font-size: 21px;
		border-radius: 5px;
	}
	> #p1 {
		background-color: $color_electric_violet_approx;
	}
	> #p2 {
		background-color: $color_sun_approx;
	}
	> .Data {
		display: block;
		width: 100%;
		max-height: 85%;
		overflow: auto;
		> div {
			width: 95%;
			height: 35%;
			margin-top: 1%;
		}
	}
}
#Profile {
	height: 74%;
	width: 100%;
	display: flex;
	> #ProfileImg {
		float: left;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		margin-top: 2%;
		margin-left: 20%;
		height: 40%;
		width: 12%;
	}
	> .UserDetails {
		display: block;
		height: 100%;
		width: 65%;
		margin-top: 2%;
		margin-left: 2%;
		> #Name {
			font-size: 38px;
			font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
			height: 10%;
			width: 10%;
			color: $black;
		}
		> div {
			display: flex;
			font-size: 18px;
			font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
			color: grey;
			height: 5%;
			width: 15%;
			> span {
				color: $black;
			}
		}
	}
}
