
* {
	margin: 0;
	padding: 0;
	background-size: contain;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
a {
	text-decoration: none;
	opacity: 0.9;
	&:hover {
		cursor: pointer;
		opacity: 1;
	}
	> label:hover {
		cursor: pointer;
		opacity: 1;
	}
}
#Root {
	height: 100%;
	> div {
		height: 100%;
	}
}